@charset "utf-8";

html, body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 0;
	margin: 0;
}
[v-cloak] {
  display: none;
}

/* alert */
.alert-top-wrapper {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: inline-block !important;
  transition: -webkit-transform .5s, opacity .5s;
  transition: transform .5s, opacity .5s;
  transition: -webkit-transform cubic-bezier(0.19, 1, 0.22, 1) 0.5s, opacity cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  transition: transform cubic-bezier(0.19, 1, 0.22, 1) 0.5s, opacity cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  pointer-events: none;
  text-align: center;
}
.alert-top-wrapper.hide {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
}
.alert-top-wrapper * {
  pointer-events: auto;
  pointer-events: initial;
  text-align: left;
  text-align: initial;
}
.alert-top-wrapper .alert {
  display: inline-block;
  min-width: 400px;
  margin-bottom: 0;
}
.alert-top-wrapper .close{
	opacity: .2;
}
.custom-range{
	padding-left: .375rem;
}
.baseTable{
  text-align: center;
}
.baseTable tbody td{
  vertical-align: middle;
}

.proAlert{
	position:absolute;
	z-index:100001;
	display:none
}
.alertModal{
	z-index:100000;
	position:absolute;
	filter:alpha(opacity=30);
	-moz-opacity:0.3;
	-khtml-opacity:0.3;
	opacity:0.3;
	display:none;
	background-color: #666666
}
@media (max-width: 767px) {
  .alert-top-wrapper .alert {
    min-width: 80%;
  }
}

.side-nav {
  position: fixed;
  height: 100%;
  /* overflow: auto; */
}
@media (max-width: 767px) {
  .side-nav {
    position: static;
    height: auto;
    height: initial;
  }
}
.side-nav .nav-pills > li > a {
  padding: 8px 15px;
}
@media (max-height: 767px) {
  .side-nav .nav-pills > li > a {
    padding: 5px 15px;
  }
}
.side-nav .nav-pills > li > a.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.nav-header {
  margin-right: -15px !important;
  margin-left: -15px !important;
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
.divider {
  height: 1px;
  margin: 9px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
}
h1 {
  color: #5c6166;
  font-size: 1.7em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

#recordPane .list {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ddd;
}
#recordPane .list:hover{
  background-color: rgba(0,0,0,.075);
}
#recordPane .list div {
  flex: auto;
  text-align: center;
  align-self: center;
  padding: 5px 0;
}
#recordPane .list .a1{
  
}
#recordPane .list .a2{
  display: none;
}
#recordPane .list .a3_new .kj_new{
  width: 28px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  FONT-SIZE: 14px;
  COLOR: #FFFFFF;
  text-align: center;
  border-radius: 50%;
  background-color: #3CC986;
  margin-left: 4px;
  margin-right: 4px;
}
#recordPane .list .a3 .kj_ok{
  width: 28px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  FONT-SIZE: 14px;
  COLOR: #675601;
  text-align: center;
  border-radius: 50%;
  background-color: #FCD20B;
  margin-left: 4px;
  margin-right: 4px;
}
#recordPane .list .a3 .kj_no{
  width: 28px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  FONT-SIZE: 14px;
  COLOR: #FFFFFF;
  text-align: center;
  border-radius: 50%;
  background-color: #ABABAB;
  margin-left: 4px;
  margin-right: 4px;
}
#recordPane .list .a5{
  color:#E53935
}

#recordPane .list .a5 .plan_go{

}
#recordPane .list .a5 .plan_go::before{
  content: "æ–°"
}
#recordPane .list .a6 .plan_ok{
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  FONT-SIZE: 12px;
  COLOR: #FFFFFF;
  text-align: center;
  border-radius: 50%;
  background-color: #31B074;
}
#recordPane .list .a6 .plan_no{
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  FONT-SIZE: 12px;
  COLOR: #FFFFFF;
  text-align: center;
  border-radius: 50%;
  background-color: #E73F3F;
}
#recordPane .list .a6 .plan_ww{
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  FONT-SIZE: 12px;
  COLOR: #FFFFFF;
  text-align: center;
  border-radius: 50%;
  background-color: #cccccc;
}

.custom-control-label::after,
.custom-control-label::before{
  width: 15px;
  height: 15px;
}

.page-header {
  margin: 0;
  padding: 20px 60px 20px 0;
  position: fixed;
  top: 0;
  width: inherit;
  background-color: rgba(255, 255, 255, 0.6);
  background-image: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.6));
  max-height: 85px;
  z-index: 3;
}
.pt-6{
  padding-top: 6rem!important;
}
@media (min-width: 768px) {
  main.col-md-9 {
      width: 75%;
  }
  header.col-md-3 {
    width: 25%;
}
}

@media (min-width: 992px){
  main.col-lg-10 {
      width: 83.333333%;
  }
  header.col-lg-2 {
      width: 16.666667%;
  }
}