<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <!-- 最大活跃数 -->
        <property name="maxTotal" value="${redis.maxActive}" />
        <!-- 最大获取数 -->
        <property name="maxIdle" value="${redis.maxIdle}" />
        <!-- 最长等待时间ms -->
        <property name="maxWaitMillis" value="${redis.maxWait}" />
        <property name="testOnBorrow" value="true"/>
        <property name="testOnReturn" value="true"/>
    </bean>
    
    <bean id="jedisPool" class="redis.clients.jedis.JedisPool" scope="singleton">
    	 <constructor-arg name="poolConfig" ref="jedisPoolConfig" />
    	 <constructor-arg name="host" value="${redis.host}" />
    	 <constructor-arg name="port" value="${redis.port}" />
    	 <constructor-arg name="timeout" value="30000" />
    	 <constructor-arg name="password" value="#{'${redis.password}'!=''?'${redis.password}':null}" />
    	 <constructor-arg name="database" value="${redis.database}" type="int" />
    </bean>
    
    <bean id="redisUtils" class="plan.data.redis.RedisUtil">
        <property name="jedisPool" ref="jedisPool"/>
    </bean>

    <!-- 使用阿里云redis服务需要此配置 
    <util:constant static-field="org.springframework.session.data.redis.config.ConfigureRedisAction.NO_OP"/> -->

</beans>